{% extends "base.html" %}

{% block content %}
<div class="border rounded p-3 cb-card">
    {% if is_owner %}
        {% if recipe.is_public %}
        <p class="text-muted">This recipe is <span class="badge cb-badge-public">Public</span>. Be careful when sharing sensitive
            information</p>
        {% else %}

        <p class="text-muted">This recipe is <span class="badge cb-badge-private">Private</span>. Only you can see it.</p>
        {% endif %}
    {% endif %}

    <h1 class="my-5">{{ recipe.title }}</h1>
    <p>{{ recipe.description }}</p>
    {% for ingredient in recipe.ingredients.splitlines %}
        <p>{{ ingredient }}</p>
    {% endfor %}
    <p>{{ recipe.instructions }}</p>
    <p>Likes:</p>
    <p>{{ recipe.likes }}</p>
    <p>Posted by {{ recipe.author.username }}</p>
</div>

<form method="POST" action="{% url 'recipes.add_like' pk=recipe.id %}" style="display:inline;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn cb-share-btn my-5">Like</button>
</form>


<!-- Options restricted to the recipe's owner -->
{% if recipe.is_public and recipe.author == request.user %}
<form method="POST" action="{% url 'recipes.mark_private' pk=recipe.id %}" style="display:inline;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn cb-btn-private my-5">Mark as Private</button>
</form>
{% elif not recipe.is_public and recipe.author == request.user %}
<form method="POST" action="{% url 'recipes.mark_public' pk=recipe.id %}" style="display:inline;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn cb-share-btn my-5">Mark as Public</button>
</form>
{% endif %}

{% if recipe.author == request.user %}
<a href="{% url 'recipes.update' pk=recipe.id %}" class="btn btn-warning">Edit</a>
<a href="{% url 'recipes.delete' pk=recipe.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'recipes.list' %}" class="btn btn-light my-5">Back</a>
{% endif %}

<!-- End of restricted options to the recipe's owner -->

<a href="{% url 'recipes.share' pk=recipe.id %}" class="btn btn-info">Share</a>
{% endblock %}
