{% load static %}

<html>
    <head>
        <title>Cookbook</title>       
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static 'css/theme.css' %}" />
    </head>

    <body>
        <nav class="navbar navbar-dark cb-nav">
            <a class="navbar-brand" href="{% url 'home' %}">
                <h3 class="d-flex align-items-start p-3">Cookbook</h3>
            </a>
            <div class="ms-auto">
                {% if user.is_authenticated %}
                
                    <div class="d-flex justify-content-end align-items-center">
                        <div class="text-light p-2">
                            Welcome, 
                            <div class="d-inline fw-bolder">{{ user.username }}</div>!
                        </div>
                        <div class="text-light p-2">|</div>
                        <div class="text-light p-2">Recipes: {{ user.recipes.count }}</div>
                    </div>
                    <a href="{% url 'home' %}" class="btn btn-outline-light btn-danger me-1">Home</a>
                    <a href="{% url 'recipes.new' %}" class="btn btn-outline-light btn-danger me-1">New Recipe</a>
                    <a href="{% url 'recipes.author' %}" class="btn btn-outline-light btn-danger me-1">My Recipes</a>
                    <a href="{% url 'recipes.list' %}" class="btn btn-outline-light btn-danger me-1">Recipes List</a>
                    <a href="{% url 'recipes.popular' %}" class="btn btn-outline-light btn-danger me-1">Popular Recipes</a>

                    <form action="{% url 'logout' %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-light me-2">Logout</button>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-1">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-light me-2">Sign Up</a>

                {% endif %}

            </div>
        </nav>

        <div class="my-5 text-center container">
            {% block content %}
            {% endblock %}
        </div>        
    </body>  
</html>
